<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
">
	<!-- 数据源配置  使用tomcat的jndi-->
	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"><value>java:comp/env/jdbc/coms</value></property>
	</bean> -->
	
	<!-- 解析文件的路径 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="false">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<!-- 阿里巴巴连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="url"><value>${jdbc.url}</value></property>
		<property name="username"><value>${jdbc.username}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
		<property name="maxActive"><value>${jdbc.maxActive}</value></property>
		<property name="testOnBorrow"><value>true</value></property>
		<property name="validationQuery"><value>SELECT '1' FROM DUAL</value></property>
		<property name="connectionProperties"><value>useUnicode=true;characterEncoding=utf-8</value></property>
	</bean>
	
	<!-- hibernate session factory-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
  		<property name="configurationClass"  value="org.hibernate.cfg.AnnotationConfiguration"/>
	    <property name="packagesToScan">
	    	<list>
		    	<value>com.cost168.entity.</value>
	    	</list>
	    </property>
		<property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>  
                <prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.format_sql">false</prop> 
                <!-- <prop key="hibernate.default_schema">cgpt</prop>  -->
                <prop key="hibernate.validator.autoregister_listeners">false</prop>
                <prop key="hibernate.validator.apply_to_ddl">false</prop>
                <prop key="javax.persistence.validation.mode">none</prop>
                <prop key="hibernate.jdbc.fetch_size">50</prop>
                <prop key="hibernate.jdbc.batch_size">20</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">/ehcache-cachehibernate.xml</prop>
            </props>  
        </property>  
	</bean>
	<!-- 指定扫描注解的包 -->
	<context:annotation-config/>
    <context:component-scan base-package="com.cost168"/>

	<!-- 配置事务管理,使用annotation定义事务 -->
    <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
    <tx:annotation-driven transaction-manager="txManager" /> 
   
	<!-- 事务控制 -->
	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
	    <property name="transactionManager" ref="dataSourceTransactionManager" />
	    <property name="transactionAttributes">
	        <props>
	            <prop key="terParamsFileLeadingIn">PROPAGATION_REQUIRED</prop>
	            <prop key="batchSave">PROPAGATION_REQUIRED</prop>
	            <prop key="*">readOnly</prop>
	        </props>
	    </property>
	</bean>
	
</beans>